.DS_Store

application/config/database.php
application/config/application.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/cache/pdfcache/*
!application/cache/pdfcache/.gitkeep

application/logs/*
!application/logs/index.html
!application/logs/.htaccess