/* Override some defaults */
html, body {
}
body {
	padding-top: 100px;
}
.container > footer p {
	text-align: center; /* center align it with the container */
}
.container {
	width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

fieldset legend { display: none; }

.actions {
	border: none;
	background: none;
}